streamlit
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

google-generativeai

faiss-cpu
chromadb

pypdf
PyPDF2

sentence-transformers

numpy
pandas
tiktoken